a{
  text-decoration: none;
}



.action mat-icon{
  color: #3F51B5;
}

.tabela{
  margin: 2em;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  padding: 1em;
}

#add{

}


.mat-column-brand,
.mat-column-year,
.mat-column-model,
.mat-column-id,
.mat-column-color,
.mat-column-actions {
  font-size: 1.2em;
}

