

table {
  padding: 1em;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  margin-top: 2em;
  width: 8%;
}


.mat-column-brand,
.mat-column-year,
.mat-column-model,
.mat-column-id,
.mat-column-color, 
.mat-column-actions {
  font-size: 1.2em;
}

