<form class="forms-register" [formGroup]="form">
  <div class="fields">

    <mat-form-field class="register-field">
      <mat-label>Marca</mat-label>
      <input matInput placeholder="Ex. Fiat" formControlName="brand">
    </mat-form-field>

    <mat-form-field class="register-field">
      <mat-label>Modelo</mat-label>
      <input matInput placeholder="Ex. Uno" formControlName="model">
    </mat-form-field>

    <mat-form-field class="register-field">
      <mat-label>Ano</mat-label>
      <input matInput placeholder="Ex. 2010" formControlName="year">
    </mat-form-field>

    <mat-form-field class="register-field">
      <mat-label>Cor</mat-label>
      <input matInput placeholder="Ex. Prata" formControlName="color">
    </mat-form-field>

  </div>
  <a routerLink="/">
    <button mat-raised-button class="cancel">Cancelar</button>
  </a>
  <button mat-raised-button color="primary">{{ btnText }}</button>

</form>
