<div class="forms-register">
  <div class="fields">

    <mat-form-field class="register-field">
      <mat-label>Marca</mat-label>
      <input matInput placeholder="Ex. Fiat">
    </mat-form-field>

    <mat-form-field class="register-field">
      <mat-label>Modelo</mat-label>
      <input matInput placeholder="Ex. Uno">
    </mat-form-field>

    <mat-form-field class="register-field">
      <mat-label>Ano</mat-label>
      <input matInput placeholder="Ex. 2010">
    </mat-form-field>

    <mat-form-field class="register-field">
      <mat-label>Cor</mat-label>
      <input matInput placeholder="Ex. Prata">
    </mat-form-field>

  </div>
  <button mat-raised-button class="cancel">Cancelar</button>
  <button mat-raised-button color="primary">{{ btnText }}</button>

</div>
